
<header>
 <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      <%= yield %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
     <!-- intial javascript located in static pages.js.coffee file -->
</header>

<body>


<div class= "home">
	<h2> Welcome to  FridgeRaider.</h2><br>
	
	<%= link_to "Fire It Up", new_cuisine_path, class: 'button' %>
</div>

<div class= 'css-carousel'>
	<img class= "css-img" src= "assets/appetizer.jpg"/>
	<img class= "css-img"  src= "assets/breakfast.jpg"/>
	<img class= "css-img" src= "assets/cocktail.jpg"/>
	<img class= "css-img" src= "assets/goulash.jpg"/>
	<img class= "css-img" src= "assets/pho.jpg"/>
	<img class= "css-img" src= "assets/quesadilla.jpg"/>
	<img class= "css-img" src= "assets/soup.jpg"/>
	<img class= "css-img" src= "assets/vegetarian.jpg"/>
	<img class= "css-img" src= "assets/waffle.jpg"/>

</div>
<br>

			
</body>