<h1>Meal Builder</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Protein</th>
      <th>Side</th>
      <th>Sauce</th>
      <th>Cuisine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.protein %></td>
        <td><%= ingredient.side %></td>
        <td><%= ingredient.sauce.name %></td>
        <td><%= ingredient.cuisine.name %></td>
        <td><%= link_to 'Show', ingredient %></td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meal', new_ingredient_path %>
