<%= form_for(@cooking_style) do |f| %>
  <% if @cooking_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cooking_style.errors.count, "error") %> prohibited this cooking_style from being saved:</h2>

      <ul>
      <% @cooking_style.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cuisine_id %><br>
    <%= f.number_field :cuisine_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
