<h1>Cooking Style Choice</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cooking_styles.each do |cooking_style| %>
      <tr>
        <td><%= cooking_style.name %></td>
        <td><%= cooking_style.cuisine.name %></td>
        <td><%= link_to 'Show', cooking_style %></td>
        <td><%= link_to 'Edit', edit_cooking_style_path(cooking_style) %></td>
        <td><%= link_to 'Destroy', cooking_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cooking style', new_cooking_style_path %>
